@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*  Table of contents:

    1. Global styles
    2. Typography
    3. Layout
        3.1 Header
        3.2 Section
        3.3 Article
        3.4 Form
        3.5 Table
        3.6 Summary
        3.7 Footer
        3.8 Picture
        3.9 Break line
        3.10 Misc. Positions
    4. Components
        4.1 Nav-bar
        4.2 Grid
        4.3 Switch
        4.4 Slider
        4.5 CTA
        4.6 To top button
        4.7 Fancy radio btns
        4.8 Icons
    5. Media quries
*/

/*  
    ================
    1. Global styles
    ================
*/

.theme-light {
  --font-color: hsl(235, 19%, 35%);
  --font-color-disabled: hsl(236, 9%, 61%);
  --background-color: hsl(0, 0%, 98%);
  --todo-background: hsl(0, 0%, 100%);
  --todo-item-border: rgba(72, 75, 106, 0.1);
  --gray-blue: hsl(234, 39%, 85%);
  --gray-blue-hover: hsl(236, 9%, 61%);
  --box-shadow: hsl(233, 11%, 84%);
  --background: url("../images/bg-desktop-light.jpg");
  --background-mobile: url("../images/bg-mobile-light.jpg");
}

.theme-dark {
  --font-color: hsl(234, 39%, 85%);
  --font-color-disabled: hsl(233, 14%, 35%);
  --background-color: hsl(235, 21%, 11%);
  --todo-background: hsl(235, 24%, 19%);
  --todo-item-border: rgba(72, 75, 106, 0.1);
  --gray-blue: hsl(234, 11%, 52%);
  --gray-blue-hover: hsl(236, 33%, 92%);
  --box-shadow: hsl(235, 21%, 11%);
  --background: url("../images/bg-desktop-dark.jpg");
  --background-mobile: url("../images/bg-mobile-dark.jpg");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 112.5%;
  color: var(--font-color);
  line-height: 1.75;
  background: var(--background) no-repeat;
  background-size: contain;
  background-color: var(--background-color);
  min-height: 100vh;
}

/*  
    ==============
    2. Typography
    ==============
*/

p {
  padding-bottom: 1rem;
  max-width: 70ch;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.small-text {
  font-size: 0.889rem;
}

.large-text {
  font-size: 1.333rem;
}

.semi-bold {
  font-weight: 700;
}

.bold, b {
  font-weight: 900;
}

/* ---- Colors ----- */

.grayBlue {
  color: var(--gray-blue);
}

/*  
    =============
    3. Layout
    =============
*/

main {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  top: 4em;
}

header {
  align-items: center;
  margin-bottom: 2em;
}

/* ----- Todo-container ----- */

.todo-container {
  background-color: none;
  background-size: 80%;
  background-position: center;
  border-radius: 5px;
  position: relative;
}

/* Box-shadow fix for todo-create */
.todo-container::before, .footer-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 5px;
  box-shadow: 0px 10px 50px 10px var(--box-shadow);
  z-index: -1;
}

/* --- Todo items  --- */

.todo-create, .todo-item, .footer-container {
  background-color: var(--todo-background);
  padding: 1em;
  border-radius: 5px;
  border-bottom: 2px solid var(--todo-item-border);
}

.todo-item {
  border-radius: 0px;
}

.todo-item:first-child {
  border-radius: 5px 5px 0 0;
}

.todo-text {
  padding: 1em;
}

.todo-create {
  margin-bottom: 1em;
  background-color: var(--todo-background);
}

.todo-create input[type="text"] {
  margin-left: 4em;
  width: calc(100% - 4em);
  height: 1em;
  padding: 0.2em;
}

.todo-create input[type="text"]:focus {
  font-weight: 700;
  outline: 1px;
}

.delete {
  display: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  background: url("../images/icon-cross.svg") no-repeat;
  background-position: center;
}

.todo-item:hover .delete, .todo-item:focus .delete  {
  display: block;
}

/* ----- Footer-container ----- */

.footer-container {
  border-radius: 0 0 5px 5px;
  position: relative;
  display: grid;
  grid-template-columns: 13ch auto 13ch;
}

#left {
  width: 13ch;
}

#clear {
}

.toggle-list {
}

button, input {
  border: 0;
  background-color: initial;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  margin: 0;
  /* outline: none; */
}

.toggle-list button{
  font-weight: 700;
}

.toggle-list button:hover, .toggle-list button:focus, #clear:hover, #clear:focus  {
  color: var(--gray-blue-hover);
}

.active {
  color: hsl(220, 98%, 61%);
}

.drNdr {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 4em;
}

/* ----- 3.10 Misc. Positions ----- */

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.between-flex {
  display: flex;
  justify-content: space-between;
}

.end-flex {
  justify-content: flex-end;
}

.wrap-flex {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.gap-flex {
  gap: 2em;
}

.gap-flex-s {
  gap: 1em;
}

.gap-flex-l {
  gap: 4em;
}

.row-reverse-flex {
  flex-direction: row-reverse;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wide {
  width: 100%;
}

.thin {
  max-width: 48%;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.hide {
  display: none;
}

/*  
    =============
    Components
    =============
*/

/* ----- 4.1 Icons ----- */

.icon img {
  width: 100%;
  height: 100%;
}

/* ----- Checkbox ----- */

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--todo-background);
  border-radius: 50%;
  border: 2px solid hsl(236, 33%, 92%);
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark, .checkbox:focus input ~ .checkmark {
  border: none;
  top: 2px;
  left: 2px;
  z-index: 2;
}

/* gradiant border that appers when todo is hovered */
 .checkbox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(1.5em + 4px);
  width: calc(1.5em + 4px);
  border-radius: 50%;
  z-index: 0;
  background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} 

/* When the checkbox is checked, add a blue background */
.done.checkmark, .checkbox input:checked ~ .checkmark {
  background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
  top: 2px;
  left: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.done.checkmark::after, .checkbox input:checked ~ .checkmark::after {
  display: block;
}

.done ~ .todo-text, .checkbox input:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--font-color-disabled);
}

/* Style the checkmark/indicator */
.checkbox .checkmark::after, .checkbox input:checked ~ .checkmark::after {
  left: calc(50% - 0.4em);
  top: calc(50% - 0.4em);
  width: 0.8em;
  height: 0.8em;
  content: "";
  background:  url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/*  
    ===============
    5. Media quries
    ===============
*/

@media only screen and (max-width: 700px) {
  body {
    background: var(--background-mobile) no-repeat;
    background-size: contain;
    font-size: 87.5%;
    background-color: var(--background-color);
  }
  main {
    top: 2em;
  }
  h1 {
    font-size: 2em;
  }
  header {
    margin-bottom: 1em;
  }
  .todo-item, .footer-container {
    padding: 0.8em;
  }
  .todo-text {
    padding: 0.5em;
  }
  .delete, .checkmark, .checkbox::before, .delete {
    display: block;
    width: 1.2em;
    height: 1.2em;
  }
  .checkbox::before {
    top: 2px;
    left: 2px;
  }
  .checkbox .checkmark::after, .checkbox input:checked ~ .checkmark::after {
    left: calc(50% - 0.3em);
    top: calc(50% - 0.3em);
    width: 0.6em;
    height: 0.6em;
  }
  .footer-container {
    grid-template-columns: repeat(2, 50%);
    row-gap: 1.5em;
  }
  #left {
    order: 1;
  }
  #clear {
    text-align: end;
    order: 2;
  }
  .toggle-list {
    order: 3;
    grid-column: span 2;
  }
  .drNdr {
    margin-top: 2em;
  }
}